.slot-sprite, .slot-game_slot_crazy, .slot-game_slot_fruit, .slot-game_slot_horse, .slot-game_slot_number, .slot-game_slot_sex, .slot-game_slot_tropical {
  background: url('../images/slot-s63610f0e22.png') no-repeat;
}

.slot-game_slot_crazy {
  background-position: 0 -560px;
}

.slot-game_slot_fruit {
  background-position: 0 -140px;
}

.slot-game_slot_horse {
  background-position: 0 -700px;
}

.slot-game_slot_number {
  background-position: 0 0;
}

.slot-game_slot_sex {
  background-position: 0 -280px;
}

.slot-game_slot_tropical {
  background-position: 0 -420px;
}
